<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content" class="container">
    	<div class="row">
            <h1>Subir Fotografías <small>Cargar fotografías a BitPhoto</small></h1>
        </div>
        <div class="row">
            <div flow-init flow-name="uploader.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-complete="hacerPeticion()">
                <div class="row">
                    <span class="btn btn-primary" flow-btn>Seleccionar Fotografía</span>
                    <span class="btn btn-info" flow-btn flow-directory>Seleccionar Carpeta</span>
                    <span class="btn btn-success" ng-click="subida()">¡SUBIR!</span>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item" ng-repeat="file in $flow.files">
                        <img flow-img="file" class="thumbnail center-div img-responsive">
                        <span class="pull-left">{{file.name}}</span>
                        <span class="pull-right"><a ng-click="file.cancel()">X</a></span>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <br/>
        <!--<pre>{{ objetoQuery | json:4 }}</pre>-->
    </div>
</main>

<br/>

<div load-component route="components/footer.html"></div>