<div id="bp-header"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div id="bp-profileheader"></div>
        
        <div class="container">
            <ul class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
            </ul>
        </div>
    </div>
</main>

<div id="bp-footer"></div>

<script type="text/javascript">
	$("#bp-header").load("components/header.html");
    $("#bp-profileheader").load("components/profileheader.html");
    $("#bp-footer").load("components/footer.html");
</script>