<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div load-component route="components/profileheader.html"></div>
        
        <div class="container">
            <ul class="row">
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
                <div class="col-md-3 portfolio-item">
                    <a href="#">
                        <img class="thumbnail img-responsive center-div album" src="images/placeholders/200x150.gif" alt="">
                    </a>
                    <p class="text-center">Álbum</p>
                </div>
            </ul>
        </div>
    </div>
</main>

<div load-component route="components/footer.html"></div>