<div id="bp-header"></div>

 <main class="sitio-contenido">
    <div id="bp-content">
        <div id="bp-profileheader"></div>
        <div id="bp-genericgallery"></div>               
    </div>
</main>

<div id="bp-footer"></div>

<script type="text/javascript">
	$("#bp-header").load("components/header.html");
    $("#bp-profileheader").load("components/profileheader.html");
    $("#bp-genericgallery").load("components/genericgallery.html");
	$("#bp-footer").load("components/footer.html");
</script>