<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div class="container-fluid full-window">
            <!--
            <div style="text-align: center;">
                <h1>Valunga <small>aún no tiene nada en su Mapa</small></h1>
                <p>Dile que etiquete fotografías con su ubicación para que aparezcan en el mapa.</p>
            </div>
            -->
            <div class="fill" style="background-image:url('images/map/map2.jpg');"></div>
        </div>
        <div load-component route="components/photoscroll.html"></div>
    </div>
</main>

<div load-component route="components/footer.html"></div>