<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs margin">
                    <li style="margin-right: 10px;">
                        <h3 style="margin: 5px 0 10px 0;">Gente a quien sigues</h3>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#/fotos-de">Fotos de</a>
                    </li>
                    <li role="presentation">
                        <a href="#/fotos-con">Fotos con</a>
                    </li>
                    <li class="pull-right">
                        <form novalidate class="form-inline">
                            <div class="form-group">
                                <select class="form-control" title="Cantidad de Imágenes" ng-model="cant">
                                    <option value="5">5 por persona</option>
                                    <option value="1">1 por persona</option>
                                </select>
                                <input type="submit" ng-click="recargar(cant)" value="Mostrar"></input>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item" ng-repeat="foto in peticion track by foto.IdFoto">
                        <a href="{{foto.urlacceso}}">
                            <img class="thumbnail center-div img-responsive" src="{{foto.Url}}" alt="{{foto.Titulo}}">
                        </a>
                        <span class="pull-left">{{foto.titulo}}</span>
                        <span class="pull-right"><i class="fa fa-eye"></i> {{foto.Vistas}} · <i class="fa fa-thumbs-o-up"></i> {{foto.Cantidad_favoritos}} · <i class="fa fa-comment-o"></i> {{foto.Cantidad_comentarios}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div load-component route="components/footer.html"></div>