<div id="bp-header"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs margin">
                    <li style="margin-right: 10px;">
                        <h3 style="margin: 5px 0 10px 0;">Explorar</h3>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#/recientes">Fotos Recientes</a>
                    </li>
                    <li role="presentation">
                        <a href="#/mapa-mundial">Mapa Mundial</a>
                    </li>
                    <li role="presentation">
                        <a href="#/camaras">Buscador de Cámaras</a>
                    </li>
                </ul>
            </div>
            <div id="bp-gallery"></div>
        </div>
    </div>
</main>

<div id="bp-footer"></div>

<script type="text/javascript">
	$("#bp-header").load("components/header.html");
    $("#bp-gallery").load("components/genericgallery.html");
    $("#bp-footer").load("components/footer.html");
</script>