<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs margin">
                    <li style="margin-right: 10px;">
                        <h3 style="margin: 5px 0 10px 0;">Explorar</h3>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#/recientes">Fotos Recientes</a>
                    </li>
                    <li role="presentation">
                        <a href="#/mapa-mundial">Mapa Mundial</a>
                    </li>
                    <li role="presentation">
                        <a href="#/camaras">Buscador de Cámaras</a>
                    </li>
                </ul>
            </div>
            <div load-component route="components/genericgallery.html"></div>
        </div>
    </div>
</main>

<div load-component route="components/footer.html"></div>