<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content">
        <div class="container">
            <ul class="nav nav-tabs margin">
                <li>
                    <h3 style="margin: 5px 0 10px 0;">Actividad Reciente</h3>
                </li>
                <li class="pull-right">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Desde el comienzo</option>
                                <option>Desde la última conexión</option>
                                <option>Desde la última hora</option>
                                <option>Desde las últimas 8 horas</option>
                                <option>Desde el último día</option>
                                <option>Desde la última semana</option>
                                <option>Desde el último mes</option>
                            </select>
                            <button type="submit">Recargar</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div load-component route="components/timeline.html"></div>
    </div>
</main>

<div load-component route="components/footer.html"></div>