<div load-component route="components/header.html"></div>

<main class="sitio-contenido">
    <div id="bp-content" class="container">
    	<div class="row">
            <h1>{{tituloImagen}} <small>{{fechaTomadaImagen}}</small></h1>
    	    <div class="col-md-8">
                    <img src={{urlImagen}} class="fotografia">
                    <br/>
                    {{descripcionImagen}}
                    <br/>
                    <br/>
            </div>
            <div class="col-md-4">
                    <h2>Datos de la fotografía</h2>
                    {{visitasImagen}} visitas<br/>
                    {{favoritosImagen}} favoritos<br/>
                    {{comentariosImagen}} comentarios<br/>
                    Subida el {{fechaSubidaImagen}}<br/>
                    Permisos: {{permisosImagen}}<br/>

                    <hr/>

                    <h2>Datos EXIF</h2>
                    Marca Cámara: {{marcaCamara}}<br/>
                    Modelo Cámara: {{modeloCamara}}<br/>
                    Resolución: {{resCamara}} MPX<br/>
                    Zoom: {{zoomCamara}}<br/>
            </div>
        </div>
    </div>
</main>

<br/>

<div load-component route="components/footer.html"></div>