<div id="bp-header"></div>

 <main class="sitio-contenido">
    <div id="bp-content">
        <div class="container-fluid full-window">
            <div class="fill" style="background-image:url('images/map/map3.jpg');"></div>
        </div>
        <div id="bp-photoscroll"></div>
    </div>
</main>

<div id="bp-footer"></div>

<script type="text/javascript">
    $("#bp-header").load("components/header.html");
    $("#bp-photoscroll").load("components/bp-photoscroll.html");
    $("#bp-footer").load("components/footer.html");
</script>