<header ng-controller="UserCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top no-margin">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/portada">BitPhoto</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Tú <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/fotos">Photostream</a></li>
                            <li><a href="#/cameraroll">Camera Roll</a></li>
                            <li><a href="#/albumes">Álbumes</a></li>
                            <li><a href="#/mapa">Mapa</a></li>
                            <li><a href="#/favoritas">Favoritas</a></li>
                            <li><a href="#/actividad">Actividad Reciente</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Gente <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/fotos-de">Fotos de</a></li>
                            <li><a href="#/fotos-con">Fotos con</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Explorar <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/recientes">Fotos recientes</a></li>
                            <li><a href="#/mapa-mundial">Mapa Mundial</a></li>
                            <li><a href="#/camaras">Buscador de Cámara</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#/subida">Subir Imágenes</a></li>
                </ul>
				<form class="navbar-form navbar-right" role="search" action="search.html">
					<div class="form-group" ng-controller="SessionCtrl">
						<input type="text" class="form-control" placeholder="Buscar en BitPhoto">
					</div>
					<button type="submit" class="btn btn-default">Buscar</button>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="Perfil" src="{{imgavatar}}" style="height:43px; width:43px;">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Conectado como <b>{{username}}</b></a></li>
                        <li><a href="#/perfil">Perfil de Usuario</a></li>
                        <li><a href="#/" ng-onclick="logout()">Salir</a></li>
                    </ul>
				</form>
			</div>
		</div>
	</nav>
</header>