<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <br />
            <div class="row" ng-repeat="foto in peticion.photo track by foto.idfoto">
                <div class="col-md-10 col-sm-10 col-xs-12 portfolio-item">
                    <a href="{{foto.urlacceso}}">
                        <img class="thumbnail img-home center-div" src="{{foto.urlserver}}" alt="{{foto.titulo}}">
                        <span class="pull-left">{{foto.titulo}}</span>
                        <span class="pull-right"><i class="fa fa-eye"></i> {{foto.views}} · <i class="fa fa-thumbs-o-up"></i> {{foto.favoritos}} · <i class="fa fa-comment-o"></i> {{foto.comentarios}}</span>
                    </a>
                </div>
                <br />
                <br />
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div id="featured">   
                <h3>Noticias de BitPhoto</h3>
                <hr />
            </div>
            <!--/top story-->
            <div class="row margin">    
                <h3>Fin del Prototipo</h3>
                <span>¡Termina el diseño del prototipo web de BitPhoto!</span>
                <h4><small class="text-muted">11/04/2015</small></h4>
            </div>
            <hr />
            <div class="row margin">    
                <h3>Optimización del sitio</h3>
                <span>Se rediseña el backend del sitio web para una mejor experiencia.</span>
                <h4><small class="text-muted">03/04/2015</small></h4>
            </div>
            <hr />
            <div class="row margin">    
                <h3>¡Comienza el diseño del sitio!</h3>
                <span>Comienza el diseño del layout gráfico del sitio, espero sea de su agrado.</span>
                <h4><small class="text-muted">10/03/2015</small></h4>
            </div>
            <hr />
        </div>
    </div>
</div>